@font-face {
  font-family: Neue Montreal;
  src: url('../fonts/NeueMontreal-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neue Montreal;
  src: url('../fonts/NeueMontreal-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: white;
  --black: #03030b;
  --purple: #6f73ff;
  --off-white: #f7f6f5;
  --beige: #e4ddd4;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Neue Montreal, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-size: var(--size-font);
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.688em;
  font-weight: 500;
  line-height: 4.5rem;
}

h2 {
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75em;
  font-weight: 500;
  line-height: 1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.688em;
  font-weight: 500;
  line-height: 1.1;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.313rem;
  font-weight: 500;
  line-height: 1;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

p {
  opacity: .5;
  margin-bottom: 10px;
  font-size: 1.313em;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: var(--black);
  font-size: clamp(13px, .938em, 30px);
  line-height: 1.125rem;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

label {
  color: var(--white);
  margin-bottom: 5px;
  font-weight: 500;
  display: block;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1.25rem;
  padding-left: 1.875rem;
  padding-right: 1.25rem;
  display: flex;
}

.veda_logo {
  width: 2.625rem;
}

.navbar_content {
  grid-column-gap: 5.125rem;
  grid-row-gap: 5.125rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-link:hover {
  color: var(--purple);
}

.nav-link.is-button {
  border: 1px solid #03030b26;
  border-radius: 1.125rem;
  justify-content: center;
  align-items: center;
  max-height: 3.75rem;
  padding: 1.5rem 2.25rem;
  display: flex;
}

.nav-link.is-button:hover {
  border-color: var(--purple);
  color: var(--purple);
}

.navbar-links {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  display: flex;
}

.announcement-bar {
  background-color: var(--purple);
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  min-height: 2.5rem;
  display: flex;
}

.announcement-bar:hover {
  background-color: #6468e5;
}

.announcement-link {
  color: var(--white);
  font-size: clamp(13px, .938em, 1rem);
}

.section_hero {
  flex-flow: column;
  height: 100svh;
  padding-top: 2.5rem;
  display: flex;
}

.hero-content {
  flex-flow: row;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.hero-content_left {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  display: flex;
}

.hero-content_right {
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.hero-heading {
  letter-spacing: -.05rem;
  flex-flow: column;
  font-size: 4.688em;
  font-weight: 500;
  line-height: 1;
  display: flex;
}

.highlight-wrapper {
  flex-flow: column;
  height: 1.2em;
  display: flex;
  overflow: hidden;
}

.highlight {
  color: var(--purple);
  line-height: 1;
  display: none;
}

.highlight.is-active {
  display: block;
}

.ctas {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.cta {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  max-height: 3.75rem;
  padding: 1.5rem 2.25rem;
  display: flex;
}

.cta:hover {
  background-color: #6468e5;
}

.cta.is-button {
  border: 1px solid #03030b26;
  border-radius: 1.125rem;
  padding: 1.5rem 2.25rem;
  display: block;
}

.cta.is-secondary {
  color: var(--black);
  background-color: #0000;
  border: 1px solid #03030b26;
}

.cta.is-secondary:hover {
  border-color: var(--purple);
  color: var(--purple);
}

.cta.is-animated {
  z-index: 1;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: var(--white);
  color: var(--purple);
  text-transform: uppercase;
  border: 1px solid #03030b26;
  max-height: none;
  padding-left: 2.125rem;
  padding-right: 2.625rem;
  font-size: 1.563rem;
  font-weight: 500;
  line-height: 1;
  position: relative;
}

.cta.is-blog {
  display: none;
}

.hero-animation.swiper {
  height: 100%;
  margin-top: 4em;
  position: relative;
}

.animation-row {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
}

.animation-row.swiper-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.coin-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transform: rotate(-90deg);
}

.coin-block.is-active {
  border-style: solid;
  border-color: var(--purple);
}

.is-slide {
  background-color: var(--white);
  border: 1px dashed #03030b1f;
}

.is-slide.swiper-slide {
  aspect-ratio: 1;
  border-radius: 2.5rem;
  overflow: hidden;
}

.is-slide.swiper-slide.swiper-slide-active {
  border: 1px solid var(--purple);
  border-radius: 2.5rem;
  overflow: hidden;
}

.video-wrapper {
  width: 100%;
  height: 100%;
}

.animation-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  height: 70%;
  display: flex;
  position: relative;
}

.hero {
  flex: 1;
  width: 100%;
  min-height: 0;
  position: relative;
}

.paragraph-2 {
  font-size: 1.313em;
}

.hero-animation-2.swiper {
  height: 100%;
  position: relative;
}

.slider-overlay {
  z-index: 2;
  background-image: linear-gradient(180deg, white, var(--white) 27%, #fff0 103%);
  pointer-events: none;
  width: 100%;
  height: 6rem;
  position: absolute;
  inset: 0% 0% auto;
}

.slider-overlay.is-bottom {
  pointer-events: none;
  inset: auto 0% 0%;
  transform: rotate(180deg);
}

.section_numbers {
  grid-column-gap: 8.375rem;
  grid-row-gap: 8.375rem;
  flex-flow: column;
  padding-top: 3.75rem;
  padding-bottom: 7.75rem;
  display: flex;
}

.logo-slider {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo-slider_content {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.is-logo {
  min-width: 7rem;
  max-width: 12.063rem;
  height: 2.5rem;
}

.is-logo.logo-2 {
  opacity: .3;
  object-fit: contain;
  height: 3rem;
}

.is-logo.logo-3 {
  opacity: .3;
  object-fit: contain;
  max-width: 14rem;
  height: 4rem;
}

.is-logo.logo-4 {
  opacity: 1;
  object-fit: contain;
  height: 2.5rem;
}

.logo-wrap {
  border-right: 1px solid #03030b26;
  justify-content: center;
  align-items: center;
  width: 19.688rem;
  height: 100%;
}

.swiper.logos-marquee {
  overflow: hidden;
}

.swiper.cards-slider {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  width: 100%;
  padding-bottom: 3.75rem;
  display: flex;
}

.swiper.testimonials-slider {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  width: 100%;
  margin-top: 3.75rem;
  display: flex;
}

.swiper.widgets-text-wrapper {
  width: 100%;
  height: 11.4em;
}

.swiper.widgets-visuals {
  width: 100%;
  height: auto;
}

.swiper.visuals {
  width: 100%;
  height: 100%;
}

.swiper-wrapper.logos-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.swiper-wrapper.cards-slider {
  display: flex;
}

.swiper-wrapper.widgets-visuals {
  width: 100%;
  position: static;
}

.swiper-slide.logo-slide {
  width: 19.688rem;
}

.swiper-slide.card,
.swiper-slide.testimonial {
  cursor: grab;
}

.swiper-slide.widget {
  opacity: 100;
}

.swiper-slide.widget-visual {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide.is-widget-text {
  height: 3.8em;
}

.logos-wrapper {
  will-change: transform;
  width: 100%;
  display: flex;
  position: relative;
}

.logos-marquee {
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.logo-slide {
  justify-content: flex-start;
  align-items: center;
  height: 5.625rem;
  display: flex;
}

.data {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
}

.data_block {
  grid-column-gap: 8.75rem;
  grid-row-gap: 8.75rem;
  border: 1px dashed var(--purple);
  border-radius: 1.875rem;
  flex-flow: column;
  flex: 1;
  padding: 1.875rem;
  display: flex;
}

.data-content {
  color: var(--purple);
  font-size: 4.125em;
  font-weight: 500;
  line-height: 1;
}

.data-bottom {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.data-title {
  opacity: .4;
  font-size: .938rem;
  line-height: 1.125rem;
}

.section_defi {
  height: 100vh;
  display: flex;
}

.defi-inner {
  flex-flow: column;
  width: 100%;
  height: 100vh;
  padding: .625rem;
  display: flex;
}

.defi-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--purple);
  border-radius: 1.875rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 6.875rem;
  display: flex;
  overflow: hidden;
}

.is-white {
  color: var(--white);
}

.is-white.is-center-aligned {
  text-align: center;
}

.selector {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.selector-animation {
  width: 50%;
  position: absolute;
}

.animation_wrapper {
  flex: 1;
  width: 100%;
  position: relative;
}

.selector-overlay {
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  transform: translate(100%);
}

.overlay-gradient {
  background-image: linear-gradient(270deg, #6f73fe, #6f73fe00);
  width: 20%;
  height: 100%;
}

.overlay-content {
  background-color: var(--purple);
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  display: flex;
}

.overlay-end {
  background-color: var(--purple);
  width: 20%;
  height: 100%;
}

.cta-shadow {
  aspect-ratio: 1;
  background-color: var(--purple);
  opacity: .4;
  filter: blur(16px);
  border-radius: 999px;
  width: 0%;
  position: absolute;
}

.section_build {
  justify-content: center;
  align-items: center;
  padding-top: 7.5rem;
  padding-right: 0;
  display: flex;
}

.is-center-aligned {
  text-align: center;
}

.heading-wrap {
  width: 54%;
}

.section_widgets {
  width: 100%;
  height: 100vh;
  position: relative;
}

.widgets-wrapper {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.widgets-visuals {
  width: 50%;
  height: 100%;
  position: relative;
}

.widget {
  width: 80%;
}

.widget.is-active {
  opacity: 1;
}

.widgets-texts {
  width: 100%;
}

.widget-text_title {
  text-align: left;
  font-size: 3.188em;
  font-weight: 500;
  line-height: 1.1;
}

.widgets_text {
  height: 3.8em;
}

.widget-text_indicator {
  font-size: .938em;
  font-weight: 500;
  line-height: 1;
}

.logos-container {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  position: relative;
}

.marquee-wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.625rem;
  display: flex;
  position: relative;
}

.widgets-text-wrapper {
  width: 100%;
}

.section_benefits {
  grid-column-gap: 7.5rem;
  grid-row-gap: 7.5rem;
  background-color: var(--off-white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8.125rem;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  overflow: hidden;
}

.is-card {
  grid-column-gap: 5.625rem;
  grid-row-gap: 5.625rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.card_heading {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.25rem 1.875rem;
  display: flex;
}

.card_image {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-bottom: .625rem;
  padding-left: .625rem;
  padding-right: .625rem;
  display: flex;
}

.card_image-img {
  height: 13.75em;
}

.is-p-mid {
  margin-bottom: 0;
  font-size: 1.125em;
}

.cards-slider_controls {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.swiper-button-prev,
.swiper-button-next {
  color: #03030b4d;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid #03030b26;
  border-radius: .875rem;
  width: 3.75rem;
  height: 3.75rem;
}

.is-arrow {
  color: inherit;
  font-size: 1.125rem;
  line-height: 1;
}

.section_testimonials {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  background-color: var(--off-white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.75rem 5rem;
  display: none;
  overflow: hidden;
}

.is-p-big {
  opacity: .7;
  margin-bottom: 0;
  font-size: 1.688em;
  line-height: 1.1;
}

.is-p-big.is-white-100 {
  opacity: 100;
  color: var(--white);
}

.is-p-big.is-white-50 {
  opacity: .5;
  color: var(--white);
}

.testimonial-author {
  font-size: 1.125em;
  line-height: 1.1;
}

.testimonial-position {
  opacity: .5;
  font-size: 1.125em;
  line-height: 1.1;
}

.testimonials-infos {
  flex-flow: column;
  display: flex;
}

.testimonials_heading {
  grid-column-gap: 15.625em;
  grid-row-gap: 15.625em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2.25rem 1.875rem;
  display: flex;
}

.testimonials-slider_controls {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  display: none;
}

.slide-control {
  width: 13em;
}

.testimonials-sliders {
  flex-flow: column;
  display: flex;
}

.section_building {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  background-color: var(--off-white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.75rem 5rem;
  display: flex;
  overflow: hidden;
}

.section_blog {
  grid-column-gap: 6.563rem;
  grid-row-gap: 6.563rem;
  background-color: var(--black);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 1.25rem 11.875rem;
  display: flex;
  overflow: hidden;
}

.blog_content {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.blog_article {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  border-top: 1px solid #fff3;
  padding-top: 1.25rem;
  display: flex;
}

.blog_article.border-black {
  border-top-color: #0003;
}

.article-img {
  border-radius: .25rem;
  width: 13.563em;
  height: 9.313em;
  overflow: hidden;
}

.article-content {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.article-img_img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  display: block;
}

.article-content_title {
  color: var(--white);
  text-wrap: balance;
  font-size: .938em;
  font-weight: 500;
  line-height: 1.2;
}

.article-content_title.is-black {
  color: var(--black);
  font-size: clamp(13px, .938em, 30px);
}

.article-content_info {
  opacity: .5;
  color: var(--white);
  font-size: .938em;
  font-weight: 500;
  line-height: 1.1;
}

.article-content_info.is-black {
  color: var(--black);
}

.article-content_link {
  color: var(--white);
  font-weight: 500;
}

.article-content_link.is-black {
  color: var(--black);
}

.article-content_top {
  grid-column-gap: .1em;
  grid-row-gap: .1em;
  flex-flow: column;
  display: flex;
}

.is-blog {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 500;
}

.blog_link {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.link-symbol {
  color: var(--white);
  font-size: .8em;
  font-weight: 500;
  line-height: .8;
}

.section_footer {
  background-color: var(--purple);
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.25rem;
  display: flex;
}

.footer_left {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  display: flex;
}

.footer_right {
  grid-column-gap: 13.125rem;
  grid-row-gap: 13.125rem;
  flex-flow: column;
  width: 50%;
  display: flex;
}

.mail-wrap {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 500;
  display: flex;
}

.mail-info {
  flex-flow: column;
  display: flex;
}

.email-form {
  justify-content: space-between;
  align-items: center;
  padding: .25rem;
  display: flex;
  position: relative;
}

.mail-form_input {
  background-color: var(--purple);
  border: 1px #000;
  width: 12rem;
  margin-bottom: 0;
}

.mail-form_input::placeholder {
  color: var(--white);
  opacity: .5;
  font-size: .938rem;
  font-weight: 500;
}

.form {
  border: 1px solid #fff3;
  border-radius: .75rem;
  margin-bottom: 0;
  font-size: .938em;
  font-weight: 500;
  line-height: 1.1;
  display: none;
  overflow: hidden;
}

.is-email-form_label {
  opacity: 0;
  margin-bottom: 0;
  position: absolute;
}

.mail-form_submit-button {
  background-color: #ffffff26;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: .938em;
}

.mail-bottom {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 500;
  display: flex;
}

.footer-links {
  flex-flow: row;
  width: 100%;
  display: flex;
}

.footer-link {
  color: var(--white);
  line-height: 1.313rem;
}

.socials-links {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: row;
  -webkit-text-decoration: underline #fff;
  text-decoration: underline #fff;
  display: flex;
}

.is-coin {
  width: 72%;
  height: 72%;
}

.blog-wrapper {
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
  flex-flow: column;
  display: flex;
}

.footer-info {
  color: var(--white);
}

.footer-info.is-center-aligned {
  text-align: center;
}

.widgets-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
}

.slider-logo-img {
  object-fit: contain;
  width: 100%;
  height: 60%;
}

.blog_header {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
}

.blog-header_img {
  border-radius: 1rem;
  width: 16rem;
  height: 10rem;
  overflow: hidden;
}

.blog-header_img-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section_blog-header {
  grid-column-gap: 7.5rem;
  grid-row-gap: 7.5rem;
  flex-flow: column;
  min-height: 100svh;
  padding: 2.5rem 1.25rem;
  display: flex;
}

.is-blog-h1 {
  text-align: center;
  font-size: 3.7588em;
  line-height: 1.2;
}

.blog-header_infos {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.is-blog-p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

.blog-header_right {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  display: flex;
}

.section_blog-content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: .625rem;
  display: flex;
}

.article {
  width: 50%;
  font-size: 1rem;
}

.article h2 {
  text-align: left;
  margin-top: 4rem;
  font-size: 1.875em;
  line-height: 1.1;
}

.article h3 {
  margin-top: 3rem;
  font-size: 1.5em;
}

.article h4 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.313em;
}

.article p {
  opacity: 100;
  margin-top: 1.313rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.article strong {
  font-size: 1rem;
  font-weight: 500;
}

.article blockquote {
  margin-top: 1.313rem;
  font-size: 1.5rem;
}

.article h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.article li {
  line-height: 1.6;
}

.article ul {
  font-size: 1rem;
}

.blog-header_left {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.paragraph-3 {
  display: none;
}

.nav {
  z-index: 999;
  position: absolute;
  inset: 0% 0% auto;
}

.blogpage_header {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
}

.blog-articles_list {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.navbar_burger {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  border: 1px solid #03030b26;
  border-radius: 1.12rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: none;
}

.navbar_burger-bar {
  background-color: var(--black);
  width: 100%;
  height: 1px;
}

.nav-menu {
  z-index: 998;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--white);
  opacity: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all .2s;
  display: none;
  position: fixed;
  inset: 0%;
}

.blog-content_article {
  background-color: var(--off-white);
  border-radius: 1.875rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 4.5rem .625rem 11.25rem;
  display: flex;
}

.is-coin-img {
  width: 100%;
  height: 100%;
}

.widgets-wrapper-mobile {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  position: sticky;
  top: 0;
}

.widget-mobile {
  opacity: 0;
  width: 80%;
  transition: opacity .2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widget-mobile.is-active {
  opacity: 1;
}

.widgets-visuals-mobile {
  width: 50%;
  height: 100%;
  position: relative;
}

.widget-copy {
  opacity: 0;
  width: 80%;
  transition: opacity .2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widget-copy.is-active {
  opacity: 1;
}

.widget-text_indicator-mobile {
  font-size: .938em;
  font-weight: 500;
  line-height: 1;
}

.footer-links_row {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.defi-title {
  color: var(--white);
  text-align: center;
  text-wrap: balance;
  max-width: 70%;
}

.visuals-wrap {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section_page-header {
  grid-column-gap: 7.5rem;
  grid-row-gap: 7.5rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 2.5rem 1.25rem;
  display: flex;
}

.page-header {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  display: flex;
}

.page-header_infos {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.list-bold {
  font-weight: 500;
}

.list-regular {
  font-weight: 400;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

._404-img {
  width: 20em;
}

.underlined {
  text-decoration: underline;
}

.marquee-animation {
  margin-top: 4em;
  position: relative;
  overflow: hidden;
}

.marquee-animation.swiper {
  height: 100%;
  margin-top: 4em;
  position: relative;
}

.marquee-animation.is-2 {
  height: 100%;
  margin-top: 0;
  position: relative;
}

.marquee-animation-row {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee-animation-row.swiper-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.is-marquee-slide {
  aspect-ratio: 1;
  background-color: var(--white);
  border: 1px dashed #03030b1f;
  border-radius: 2.5rem;
  overflow: hidden;
}

.is-marquee-slide.swiper-slide {
  aspect-ratio: 1;
  border-radius: 2.5rem;
  overflow: hidden;
}

.is-marquee-slide.swiper-slide.swiper-slide-active {
  border: 1px solid var(--purple);
  border-radius: 2.5rem;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.75em;
  }

  .navbar {
    position: relative;
  }

  .navbar_content {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .navbar-links {
    display: none;
  }

  .section_hero {
    height: auto;
    min-height: 100svh;
    padding-top: 7.5rem;
  }

  .hero-content {
    flex-flow: column;
  }

  .hero-content_left {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 3.75rem .625rem;
  }

  .hero-content_right {
    width: 100%;
  }

  .hero-heading {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 3.25em;
  }

  .highlight.is-active {
    text-align: center;
  }

  .hero-animation.swiper {
    width: 100%;
    margin-top: 0;
  }

  .animation-row.swiper-wrapper {
    flex-flow: row;
    width: 100%;
  }

  .animation-wrapper {
    flex-flow: column;
  }

  .hero-animation-2.swiper {
    width: 100%;
  }

  .slider-overlay {
    background-image: linear-gradient(135deg, white, var(--white) 27%, #fff0 103%);
    width: 20%;
    height: 100%;
    inset: 0% 0% 0% auto;
    transform: rotate(180deg);
  }

  .slider-overlay.is-bottom {
    background-image: linear-gradient(225deg, white, var(--white) 27%, #fff0 103%);
    width: 20%;
    height: 100%;
    inset: 0% auto 0% 0%;
    transform: rotate(180deg);
  }

  .section_numbers {
    padding-top: 7.75rem;
  }

  .data {
    padding-left: .625rem;
    padding-right: .625rem;
  }

  .data-content {
    font-size: 3.125rem;
  }

  .section_build {
    padding-left: 1.875px;
    padding-right: 1.875px;
  }

  .heading-wrap {
    width: 100%;
  }

  .section_widgets {
    height: auto;
  }

  .widgets-wrapper {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 7.75rem;
    padding-bottom: 3.75rem;
    display: none;
  }

  .widgets-visuals {
    flex: 1;
    width: 70%;
    height: 60%;
  }

  .widget {
    opacity: 100;
    height: 100%;
    position: static;
    transform: translate(0%);
  }

  .widgets-texts {
    justify-content: flex-start;
    align-items: center;
  }

  .widget-text_title {
    text-align: center;
    font-size: 2.5em;
  }

  .widget-text_indicator {
    font-size: .75em;
  }

  .widgets-text-wrapper {
    width: 100%;
  }

  .section_blog {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    padding-bottom: 5rem;
  }

  .blog_article {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .article-img {
    flex: 1;
  }

  .hero-p {
    text-align: center;
    font-size: 1em;
  }

  .widgets-wrap {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40%;
  }

  .blog_header {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    padding-left: 1.875rem;
  }

  .section_blog-header {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
  }

  .is-blog-h1 {
    font-size: 2.75em;
  }

  .is-blog-p {
    text-align: center;
    font-size: 1em;
  }

  .blog-header_right {
    width: 70%;
  }

  .article {
    width: 90%;
  }

  .blogpage_header {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 3.75rem;
    padding-left: 1.875rem;
  }

  .navbar_burger {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    cursor: pointer;
    border: 1px solid #03030b26;
    border-radius: 1.12rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all .2s;
    display: flex;
  }

  .navbar_burger:hover {
    border-color: var(--purple);
  }

  .navbar_burger-bar {
    background-color: var(--black);
    width: 100%;
    height: 1px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nav-menu {
    opacity: 0;
    padding-top: 7.5rem;
    display: none;
  }

  .blog-content_article {
    padding-left: .625rem;
    padding-right: .625rem;
  }

  .blog-title {
    font-size: 3em;
  }

  .widgets-wrapper-mobile {
    grid-column-gap: 7.75rem;
    grid-row-gap: 7.75rem;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 7.75rem;
    padding-bottom: 3.75rem;
    display: flex;
  }

  .widget-mobile {
    opacity: 100;
    height: 100%;
    transition-property: none;
    position: static;
    transform: translate(0%);
  }

  .widgets-visuals-mobile {
    grid-column-gap: 2.75rem;
    grid-row-gap: 2.75rem;
    flex-flow: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 60%;
    display: flex;
  }

  .widgets_text-mobile {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .widget-copy {
    opacity: 100;
    height: 100%;
    position: static;
    transform: translate(0%);
  }

  .widget-text_indicator-mobile {
    vertical-align: top;
    font-size: .75em;
    top: .5em;
  }

  .section_page-header {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
  }

  .page-header {
    width: 70%;
  }

  .marquee-animation.swiper {
    width: 100%;
    margin-top: 0;
  }

  .marquee-animation-row.swiper-wrapper {
    flex-flow: row;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    text-align: center;
    font-size: 2.25rem;
  }

  h3 {
    text-align: left;
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: .938rem;
  }

  .navbar-links {
    display: none;
  }

  .announcement-link {
    font-size: .75rem;
    line-height: 1.2rem;
  }

  .hero-heading {
    font-size: 2em;
  }

  .cta {
    font-size: .938rem;
  }

  .cta.is-blog {
    background-color: #0000;
    border: 1px solid #ffffff26;
    border-radius: .875rem;
    max-height: none;
    padding: 1.375rem 1.875rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1;
    display: flex;
  }

  .animation-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .swiper.cards-slider {
    padding-bottom: 2.5rem;
    padding-right: 4rem;
  }

  .data {
    flex-flow: column;
  }

  .data_block {
    width: 100%;
  }

  .data-content {
    font-size: 3.375rem;
  }

  .defi-content {
    padding-top: 3.125rem;
    padding-left: 0;
    padding-right: 0;
  }

  .is-white.is-center-aligned {
    text-wrap: balance;
  }

  .selector {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .selector-animation {
    width: 100%;
  }

  .overlay-gradient {
    width: 1.5rem;
  }

  .overlay-content {
    flex: 1;
  }

  .overlay-end {
    width: 1.5rem;
  }

  .section_build {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .heading-wrap {
    width: 100%;
  }

  .widgets-wrapper {
    display: none;
  }

  .widgets-visuals {
    width: 100%;
  }

  .widget-text_title {
    font-size: 1.875rem;
  }

  .widget-text_indicator {
    font-size: .563rem;
  }

  .section_benefits {
    padding-left: .625rem;
    padding-right: .625rem;
  }

  .card_image {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .card_image-img {
    height: 8.25rem;
  }

  .is-p-mid {
    font-size: .938rem;
  }

  .cards-slider_controls {
    margin-left: 4rem;
  }

  .is-p-big.is-white-100,
  .is-p-big.is-white-50 {
    font-size: 1.5em;
  }

  .section_building {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    padding-top: 2.5rem;
  }

  .section_blog {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    padding-bottom: 5rem;
  }

  .blog_content {
    grid-template-columns: 1fr;
  }

  .blog_article {
    grid-column-gap: 1.125rem;
    grid-row-gap: 1.125rem;
    width: 100%;
  }

  .article-img {
    width: 50%;
  }

  .blog_link {
    display: none;
  }

  .section_footer {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .footer_left {
    width: 100%;
  }

  .footer_right {
    order: -1;
    width: 100%;
  }

  .mail-form_input {
    height: 100%;
    font-size: .938rem;
  }

  .mail-form_submit-button {
    font-size: .938rem;
  }

  .footer-link {
    line-height: 1.313em;
  }

  .blog-wrapper {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-p {
    font-size: .938rem;
  }

  .footer-info {
    font-size: .938rem;
    line-height: 1;
  }

  .footer-info.is-center-aligned {
    text-wrap: balance;
  }

  .blog_header {
    padding-left: 0;
    padding-right: 0;
  }

  .section_blog-header {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding-top: 7.5rem;
    padding-bottom: 1.25rem;
  }

  .is-blog-h1 {
    font-size: 2.25rem;
  }

  .is-blog-p {
    font-size: .938rem;
  }

  .blog-header_right {
    width: 100%;
  }

  .article {
    text-align: left;
    width: 100%;
  }

  .article h2 {
    font-size: 1.875rem;
  }

  .article h3 {
    font-size: 1.5rem;
  }

  .article h4 {
    font-size: 1.313rem;
  }

  .article p {
    font-size: .938rem;
  }

  .article blockquote {
    font-size: 1.5rem;
  }

  .article h1 {
    font-size: 2rem;
  }

  .article li,
  .article a {
    font-size: .938rem;
  }

  .blogpage_header {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .blog-articles_list {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .blog-title {
    font-size: 2.5em;
    line-height: 1.1;
  }

  .widgets-wrapper-mobile {
    justify-content: flex-start;
    align-items: center;
  }

  .widget-mobile {
    transition-duration: 1s;
  }

  .widget-text_indicator-mobile {
    font-size: .563rem;
  }

  .defi-title {
    max-width: 90%;
  }

  .section_page-header {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding-top: 7.5rem;
    padding-bottom: 1.25rem;
  }

  .page-header {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .section_hero {
    height: auto;
    min-height: auto;
    display: flex;
  }

  .section_numbers,
  .section_defi,
  .section_build,
  .section_widgets,
  .section_benefits,
  .section_building,
  .section_blog,
  .section_footer {
    display: flex;
  }

  .email-form {
    width: 100%;
  }

  .mail-form_input {
    flex: 1;
  }

  .form {
    width: 100%;
  }

  .section_blog-header {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding: 7.5rem .625rem .625rem;
  }

  .blog-header_right {
    width: 100%;
  }

  .blogpage_header {
    justify-content: center;
    align-items: center;
    padding: 5rem 1.25rem;
  }

  .blog-title {
    font-size: 3em;
    line-height: 1.1;
  }

  .section_page-header {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding: 7.5rem .625rem .625rem;
  }

  .page-header {
    width: 100%;
  }
}


@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}